@charset "UTF-8";

/*Paleta de cores
    #EDD4B2 Rosa clarinho
    #4F5D75 gray
    #2E0014 dark purple
    #36C9C6 azul meio claro
    #5AB1BB azul um pouco escuro
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #4F5D75;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
}
h1 {

    margin-bottom: 10px;
    text-align: center;
}
p {
    font-size: 0.8em;
    padding: 5px 0px;
}
.campo {
    background-color: #4F5D75;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #4F5D75;
}
.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    border: 0px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
}

label {
    display: none;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(77, 15, 15, 0.836);
    color: white;
    border: none;
    margin-top: 10px ;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #475368;
}
.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid rgba(136, 29, 29, 0.836);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(2, 0, 0, 0.836);
    padding-top: 5px;
    margin-top: 5px;
}
.botao > i {
    font-size: 0.8em;
    color: #2E0014;
    background-color: #475368;
}

form > a.botao:hover {
    background-color: rgba(136, 29, 29, 0.836);
}
#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 270px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}
#imagem {
    display: block;
    background: #4F5D75 url(../imagens/imagem-media.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left center;
}

#formulario {
    display: block;
    padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px){

    body {
        background-image: linear-gradient(to top, #475368, #5ab1bbb7 );
    }
    p {
        font-size: 1.0em;
    }

    #login {
        width: 80vw;
        height: 300px;
    }
    #imagem {
        float: left;
        height: 100%;
        width: 30%;
        background-position: bottom center;
    }
    #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){

    body {
        background-image: linear-gradient(to top, #475368, #5ab1bbb7 );
    }
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
        padding: 10px 0;
    }
    #login {
        width: 925px;
        height: 350px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario {
        float: left;
        width: 50%;
    }

}
